<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Thank You</title>
    </head>
    <body>
        
        <div style="text-align: center; margin-top: 20px;" class="container">
            {% for i in name %}
            <h1><strong>Name: {{i}}</strong></h1>
            <br>
            <h4>Thanks for giving me this opportunity!!!!</h4>
            {%endfor%}
            <br>
            <button class="btn btn-primary" onclick="location.href='/'">Go Back</button>
        </div>
        
    </body>
</html>